*{
    padding: 0;
    margin: 0;
    transition: 0.3s;
    box-sizing: border-box;
}
body{
font-family: 'Calibri';

}
header h1{
font-size:2.5em;
text-align: center;

}
.item-grid{
display: flex;
grid-template-columns: 1fr 1fr 1fr;
margin: 30px 150px;
background-color: gold;

}